.Rproj.user
*.Rproj
.Rhistory
.RData
.Ruserdata
*.docx
*.xlsx
*.pdf 
HMSC/
*.xls
*.tif
data/threat_occ_data.rds
data/threat_occ_data_new.rds
data/spp.convex.hull.polys_sf.rds
data/StrictUCsNeotrop_simplified_proj.rds
data/StrictUCsNeotrop_simplified.rds
data/StrictUCsNeotrop_simplified_clipped.rds
data/threat_inventory_data.rds
doi_10.5061_dryad.bs332__v1/
doi_10.5061_dryad.8t026__v1/
data/spp.convex.hull.polys_sf_cropped.rds
text/
text/main_text.docx